
body {
    
}

.field-row {
  overflow: hidden;
}

.field-row label {
  display: block;
  width: 30%;
  float: left;
}

.field-row .field-container {
  width: 70%;
  float: left;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: left;
}

header li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.center {
    margin: auto;
    width: 50%;
}

img.item {
    display: block;
    margin: auto;
    width: 50%;
}

header li a:hover:not(.active) {
    /*background-color: #111;*/
}

header .active {
    /*background-color: #4CAF50;*/
}


