
body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

ul {
    list-style-type: none;
}

#logo {
    height: 50px;
    background-color: #FD69E4;
}

#logo img {
    height: 50px;
}

#logo-center {
    font-family: 'Amatic SC';
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    vertical-align: middle;
    letter-spacing: 5px;
}

#logo-center span {
    display: inline-block;
    vertical-align: middle;
}

#logo-left {
    text-align: left;
}

#logo-right {
    text-align: right;
}

#nav {
    width:100%;
}

.pure-menu-children {
    border: 1px solid #e2e3e4;
    text-align: left;
}

.pure-menu-horizontal {
    width: 50%;
    text-align: center;
}

#admin-nav {
    padding-bottom: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    transition: color .5s ease-in;
}

icon {
    padding-right: 10px;
}

.center {
    margin: auto;
    width: 80%;
    text-align: center;
}

.home {
    width: 100%;
}

.home img {
    width: 100%;
}

.center p {
    text-align: center;
}

img.main {
    display: block;
    margin: auto;
    height: 60%;
}

#cart {
    text-align: left;
}

header li a:hover:not(.active) {
    /*background-color: #111;*/
}

header .active {
    /*background-color: #4CAF50;*/
}

#content {
    
}

.thumb {
    text-align: center;
}

.thumb a {
    text-decoration: none;
    color: rgb(44, 44, 43);
    
}

.thumb a.title {
    font-size: 17px;
    line-height: 38px;
}

.thumb a.title {
    font-size: 17px;
    line-height: 22px;
}

img.thumb {
    width: 100px;
}

#top-nav {
    text-align: right;
}

.admin {
    padding-right: 20px;
}

#product-img {
    width: 360px;
}

.btn {
    color: black;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    transition: all 200ms ease;
    max-width: 100%;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.btn-cart-tab {
    
}

.btn-cart-tab.js-active {
    transform: translateY(-50%);
    opacity: 1;
}

.btn-counter {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 18px;
}

.icon-cart-side {
  height: 20px;
  width: 20px;
}

div#product {
    text-align: center;
}

.incrementer {
    cursor: pointer;
    color: #ff69b4;
    font-size: large;
}

.quantity {
    width: 35px;
    height: 35px;
    text-align: center;
}

div#cart {
    margin: auto;
    width: 500px;
}

div#nav div.pure-menu li.pure-menu-item a:hover {
    color: #ff69b4;
     -webkit-transition: none !important;
     -moz-transition: none !important;
     -o-transition: none !important;
     transition: none !important;
     background-color: white;
}

div#nav div.pure-menu li.pure-menu-item ul.pure-menu-children a:hover {
    color: #158479;
    background-color: white;
}

.remove {
    cursor: pointer;
}

.lineitem {
    line-height: 10em;
}

.lineitem-img {
    line-height: 1em;
    text-align: center;
}

.lineitem-cell img {
    vertical-align: middle;
    
}

.lineitem-cell {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#lineitem-total {
    border-top: 1px solid #e2e3e4;
    margin-top: 10px;
    padding-top: 10px;
}

.lineitem-header {
    border-bottom: 1px solid #e2e3e4;
    margin-bottom: 10px;
}


#checkout, #clear {
    text-align: center;
    padding: 20px 0px 20px 0px;
    
}

button.pure-button-primary {
    background-color: #ff69b4;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#contact-page {
    margin: auto;
    width: 400px;
}

#admin-page {
    margin: auto;
    width: 400px;
}

#admin-page form {
    margin: auto;
    width: 400px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
