{{define "content"}}
<div class="text-center">
  <form method="POST" action="/admin/blogs" enctype="multipart/form-data">
    <fieldset>
      <input type="text" name="title" value="{{.Blog.Title}}" placeholder="title" required/><br/>
      <label for="body">
        <textarea name="body" rows="8" cols="50">{{.Blog.Body}}</textarea>
      </label></br>
      <label for="Image">Image
        <input type="file" name="image" placeholder="Image"/><br/>
      </label>
      <button type="submit" class="pure-button pure-button-primary">Save</button>
    </fieldset>
  </form>
</div>
{{end}}
