{{define "content"}}
<div class="text-center">
  <form id="blog-form" method="POST" action="{{.Action}}" enctype="multipart/form-data">
    <fieldset>
      <input type="text" name="title" value="{{.Blog.Title}}" placeholder="title" required/><br/>
      <input type="date" name="date" value="{{getDate .Blog.Date}}" placeholder="date" required/><br/>
      <label for="body">
        <textarea name="body" rows="8" cols="50">{{.Blog.Body}}</textarea>
      </label></br>
      <label for="Image">Image
        <input type="file" name="image" placeholder="Image"/><br/>
      </label>
      <button type="submit" class="pure-button pure-button-primary">Save</button>
      <button type="submit" class="pure-button pure-button-primary" onClick="confirm()">Delete</button>
    </fieldset>
  </form>

  <script>
    {{ template "blog.js" .}}
  </script>
</div>
{{end}}
