{{define "content"}}

<div id="admin-page">
  {{template "admin-links.html" .}}

  {{$uri := .URI}}
  {{range .Items}}
  <li>
    <a href="{{$uri}}/{{.}}">{{.}}</a>
  </li>
  {{end}}
</ul>

<form action="{{.URI}}?from={{.From}}" method="POST" enctype="multipart/form-data">
  <fieldset>
    <input type="text" name="Name" placeholder="{{.Placeholder}}" required/><br/>
    {{if .IsProduct}}
    <label for="Description">
      <textarea name="Description" rows="8" cols="50"></textarea>
    </label></br>
    <label for="Image">Image
      <input type="file" name="Image" placeholder="Image"/><br/>
    </label>
    {{end}}
    <button type="submit" class="pure-button pure-button-primary">Save</button>
  </fieldset>
</form>

{{if ne .Resource ""}}
<form action="{{.Resource}}" method="POST" >
  <fieldset>
    <legend>Rename {{.ResourceName}}</legend>
    <input type="text" name="Name" placeholder="New Name" required/><br/>
    <button type="submit" class="pure-button pure-button-primary">Save</button>
  </fieldset>
</form>
{{else}}

<form action="/admin/site/images/home" method="POST" enctype="multipart/form-data">
  <fieldset>
    <legend>Home Page Image</legend>
    <input type="file" name="Image" placeholder="Home Image" required/><br/>
    <button type="submit" class="pure-button pure-button-primary">Save</button>
  </fieldset>
</form>

<div>
  <a href="/admin/db/backup">Get database backup</a>
</div>

{{end}}



</div>
<script>
  {{ template "admin.js" .}}
</script>

{{end}}
