{{define "content"}}

{{template "admin-links.html" .}}

{{$uri := .URI}}
{{range .Items}}
<li>
  <a href="{{$uri}}/{{.}}">{{.}}</a>
</li>
{{end}}
</ul>

<form action="{{.URI}}?from={{.From}}" method="POST" enctype="multipart/form-data">
  <fieldset>
    <input type="text" name="Name" placeholder="{{.Placeholder}}" required/><br/>
    {{if .IsProduct}}
    <label for="Description">
      <textarea name="Description" rows="8" cols="50"></textarea>
    </label></br>
    <label for="Image">Image
      <input type="file" name="Image" placeholder="Image"/><br/>
    </label>
    {{end}}
    <button type="submit" class="pure-button pure-button-primary">Save</button>
  </fieldset>
</form>

<script>
  {{ template "admin.js" .}}
</script>

{{end}}
