{{define "content"}}
<form id="category-form" action="/admin/categories" method="POST">
  <input name="OldID" type="hidden" value="{{.Name}}"/>
  <div class="field-row">
    <div class="field-container">
      <input name="ID" type="text" required placeholder="Category" value="{{.Name}}"/>
    </div>
  </div>
  <div class="field-row">
    <div class="field-container">
      <button type="submit">save</button>
      {{if ne .Name ""}}
      <button onClick="confirm()">delete</button>
      {{end}}
    </div>
  </div>
</form>
<script>
  {{template "category-admin.js" .}}
</script>
{{end}}
