{{define "navbar"}}
<header>
  <div id="logo">
    <a href="/"><img src="/static/images/logo.png"/></a>
  </div>
  <div id="nav">
    <div class="pure-menu pure-menu-horizontal center">
      <ul class="pure-menu-list">
        {{range $link := .Links}}
        {{if eq (len $link.Children) 0}}
        <li class="pure-menu-item pure-menu-selected">
          <a href="{{$link.Link}}" id="{{$link.Name}}" class="pure-menu-link">{{$link.Name}}</a>
        </li>
        {{else}}
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover pure-menu-selected">
          <a href="{{$link.Link}}" id="{{$link.Name}}" class="pure-menu-link">{{$link.Name}}</a>
          <ul class="pure-menu-children">
            {{range $child := $link.Children}}
            <li class="pure-menu-item">
              <a href="{{$child.Link}}" class="pure-menu-link">{{$child.Name}}</a>
            </li>
            {{end}}
          </ul>
        </li>
        {{end}}
        {{end}}
      </ul>
    </div>
  </div>
</header>
{{end}}
