{{define "lineitem.html"}}

<div id="{{.ID}}" class="lineitem pure-g">
  <div class="pure-u-1-4 lineitem-img">
    <img class="thumb" src="/products/{{.Cat}}/{{.Subcat}}/{{.Title}}/thumb.png"/><br/>
    <a class="remove" onClick="removeItem({{.Title}})">remove</a>
  </div>
  <div class="pure-u-1-4 lineitem-cell">
    <a>{{.Title}}</a>
  </div>
  <div class="pure-u-1-4 lineitem-cell">
    <i class="incrementer fa fa-minus" aria-hidden="true" onClick="update({{.Title}}, -1)"></i>
    <input type="text" class="quantity" id="{{.ID}}-quantity" value="{{.Quantity}}"/>
    <i class="incrementer fa fa-plus" aria-hidden="true" onClick="update({{.Title}}, 1)"></i>
  </div>
  <div class="pure-u-1-4 lineitem-cell">
    <a id="{{.ID}}-total">${{.Total}}</a>
  </div>
</div>

{{end}}

