{{define "content"}}

{{if .Message}}
<div class="center text-center">{{.Message}}</div>
{{else}}
<div class="form-holder">
  <form class="pure-form pure-form-stacked" action="{{.Action}}" method="POST">
    <fieldset>
      <legend>Password Reset for {{.Email}}</legend>
      <label for="password">Password</label>
      <input type="password" placeholder="password" name="password" required autocomplete="new-password">
      
      <label for="confirm-password">Confirm Password</label>
      <input type="password" placeholder="confirm password" name="confirm-password" required autocomplete="new-password">
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
  </form>
</div>
{{end}}
{{end}}
