{{define "wholesale-thumb"}}
<div class="pure-u-1-4">
  <p class="thumb">
    <a><img id="thumb" src="{{.Thumb}}"/></a><br/>
    <a class="title">{{.Title}}</a><br/>
    <a>${{.Price}}</a>
    <div>
      <i class="incrementer fa fa-minus" aria-hidden="true" onClick="updateQuantity('{{.ID}}', -1)"></i>
      <input type="text" class="quantity" id="{{.ID}}" value="{{.Quantity}}"/>
      <i class="incrementer fa fa-plus" aria-hidden="true" onClick="updateQuantity('{{.ID}}', 1)"></i>
    </div>
  </p>
</div>
{{end}}
