{{define "content"}}
<div class="text-center">
  <form action="/wholesale/invoice?preview=false" method="POST">
    <button type="submit" class="pure-button pure-button-primary">Request Invoice</button>
    {{$price := .Price}}
    {{range $i, $product := .Products}}
    <div class="pure-g">
      <div class="pure-u-1-4">
        <a><img class="invoice-thumb" id="thumb shadowed" src="/shop/images/products/{{$product.Title}}/thumb.png"/></a><br/>
      </div>
      <div class="pure-u-1-4">
        {{$product.Title}}
      </div>
      <div class="pure-u-1-4">
        {{$product.Quantity}} x {{$price}}
      </div>
      <div class="pure-u-1-4">
        {{$product.Total}}
      </div>
    </div>
    {{end}}
  </form>
</div>
{{end}}
